@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&family=Manrope:wght@400;500;600&display=swap');

:root {
  font-family: 'Sora', 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 1600;
  color: #902923;
  text-decoration: inherit;
  font-family: Sora;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  min-width: 100vw; /* Set to full width */
  min-height: 100vh; /* Set to full height */
}

h1 {
  font-size: 3.2em;
  font-family: Sora;
  line-height: 1.1;
  color: #902923;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Manrope;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e44c10;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card {
  padding: 1.5em;
  background-color: #FFF399;
  
}

.card-header {
  background-color: #f8f9fa;
}

.card-body {
  background-color: #ffffff;
}
h5{
  font-family: Sora;
}
p{
  font-family: Manrope;
}
label{
  font-family: Manrope;
}
.nav {
  background-color: #FFF399;
}